#logo {
  padding: 0;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  background-color: #ffff;
  border: 0;
}

.white-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  background-color: white;
  opacity: 1; /* Ajusta la opacidad para oscurecer el fondo */
  z-index: 999; /* Asegura que la ventana esté en la parte superior */
}

#windowsearch {
  width: 1500px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items:center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 100px;  
  
}


.bii {
  color: white;
}