/*This the central box*/
#root {
    padding: 2rem 5rem;
}
#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

#subtitle {
    display: flex;
    justify-content: space-between;
}
#A {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 30px;
    color: #ffff;
}
#B {
    margin: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #ffff;
}

/*Here put in order the information*/
#location {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Here are the characteristics of the Apartaments*/
#img {
    width: 490px;
    height: 300px;
    border-radius: 24px;
}


#title {
    margin: 0;
    width: 400px;
    height: 80px;
    left: 94px;
    top: 533px;
    font-family: 'Montserrat';
    color: #333333;
    font-size: 20px;
}

#star {
    display: flex;
    gap: 7px;
}
.bi {
    margin: 1rem 0;
    color: #EB5757;;
}

#date {
    display: flex;
    justify-content: space-between;
}
#date > p {
    margin: 10px 0;
    font-family: 'Montserrat';
}

#box {
    display: flex;
}
#box > p {
    margin: 10px 0;
    font-family: 'Montserrat';
    color: #828282;
}

